<!DOCTYPE html>
{% extends "base.html" %}
    {% block body_block%}


<h2>Select a file</h2>

<form method="POST" action="." enctype="multipart/form-data" class="form-horizontal form-inline">
{% csrf_token %}

{% for i in listfiles %}
  <div>
    <button type="submit" name={{i}} class="fileUpload btn btn-primary">{{i}}</button>
  </div>
{% endfor %}
</form>

{% if fileselected %}

<p></p>
<h2>Current project</h2>
<p class="fileUpload">{{fileselected}}</p>

{% endif %}

{% endblock %}
